 .cost-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  
  .cost-block:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  
  .cost-preview h2{
    font-size: 20px;
    color: rgb(91, 203, 74);
    margin-bottom: 8px;
  }

  .cost-preview{
    flex-grow: 1;
  }

  .delete-button {
    background-color: rgb(91, 203, 74);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}
  