.create-category {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

 .create-category label{
    text-align: left;
    display: block;
}

.create-category h2{
    font-size: 20px;
    color: rgb(91, 203, 74);
    margin-bottom: 10px;
}

.create-category input, .create-category select {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;    
}
.create-category button {
    background-color: rgb(91, 203, 74);
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}